<% layout('layout') %>
<section class="jumbotron text-center">
    <div class="container py-3">
     <h1><%= title %></h1>
    </div>

    <form action='/download' method="post">
        <input type="text" id="filename" name="filename" placeholder="输入文件名..."/>
        <input type="submit" value="下载数据">
    </form>
</section>


<div class="container px-4 py-3" id="featured-3" align="center">
<div class="table-responsive col-8">
<table class="table table-striped table-sm">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">名字</th>
    </tr>
  </thead>
  <tbody>

    <ul>
      <% for(var i=0; i< dataArr.length; i++){ %>
          <tr>
          <td>00<%-i+1%></td>
          <td><%-dataArr[i] %></td>
          </tr>
      <% } %>
    </ul>

  </tbody>
</table>
</div>
</div>