<!-- header -->
<header>
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
<a class="navbar-brand" href="#"><img src="http://localhost:3000/img/logo.png" style="height:40px" alt="My logo"> 大文件安全共享测试系统</a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
<span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse" id="navbarsExampleDefault">
<ul class="navbar-nav mr-auto">
<li class="nav-item active">
	<a class="nav-link" href="./">请求文件<span class="sr-only">(current)</span></a>
</li>
<li class="nav-item">
    <a class="nav-link" href="/about">大数据共享证据链</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="/product">发布数据</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="/contact">我的数据</a>
</li>
</ul>
</div>
</nav>
</header>
<!-- // header -->

